<section class="skillset" ng-show="!home.activeProject">
  <div class="width-wrapper">
    <p class="intro">On the front-end to back-end spectrum, I fall somewhere in the middle. I'm passionate about architecting applications from the bottom up, writing modular and well-structured code, modeling complex domain logic, and improving performance - all in the pursuit of building beautiful, functional applications.</p> 
    <p class="intro">Here are some of the languages, frameworks, tools and methodologies I feel comfortable with. </p>
  </div>
  <div class="lighter">
    <div class="width-wrapper">
      <h4 class="skill-group-heading">Languages</h4>
      <ul class="skill-list">
        <li>Ruby</li><li>Javascript</li><li>Python</li><li>PHP</li><li>SQL</li><li>HTML5</li><li>CSS3</li>
      </ul>

      <h4 class="skill-group-heading">Libraries / Frameworks</h4>
      <ul class="skill-list">
        <li>Ruby on Rails</li><li>Angular.js</li><li>Node.js</li><li>Express</li><li>jQuery</li><li>D3.js</li><li>Sinatra</li><li>Meteor</li>
      </ul>

      <h4 class="skill-group-heading">Development / Testing Tools</h4>
      <ul class="skill-list">
        <li>SASS</li><li>Gulp</li><li>RSpec</li><li>Jasmine</li><li>Mocha / Chai</li><li>Protractor</li><li>Capybara</li>
      </ul>

      <h4 class="skill-group-heading">Other Skills</h4>
      <ul class="skill-list">
        <li>Git</li><li>Agile / Scrum</li><li>Server Administration</li><li>Linux / Mac CLI</li>
      </ul>
 
    </div>
  </div>
</section>
