<header class="intro-blurb">
  <div class="my-face">
    <%= image_tag 'josh_face.png' %>
  </div>
  <div class="my-face-spacer"></div>

  <div class="headings">
    <h1>Why hello there!</h1>
    <h3>My name is Joshua Comeau, and I'm a full-stack web developer &amp; software engineer.</h4>
    <h5>For the past year, I've been captivated by code, and it's been one hell of a ride.</h6>
  </div>
</header>