<div class="main-content">

  <%= render partial: 'layouts/header' %>

  <%= render partial: 'layouts/nav' %>

  <section class="projects">
    <div class="modal active-project" modal ng-show="home.activeProject">
      <div class="active-project-container" ng-show="home.activeProject">
        <div class="close" close-project>
          <%= image_tag "cross_white.png" %>
        </div>
        <header ng-style="{'background': home.activeProject.colour}">
          <h3>
            <span>{{home.activeProject.display_name}}</span>
            <a ng-href="{{home.activeProject.demo_link}}" ng-show="home.activeProject.demo_link" target="_blank"><i class="fa fa-external-link"></i></a> 
            <a ng-href="{{home.activeProject.github_link}}" ng-show="home.activeProject.github_link" target="_blank"><i class="fa fa-github"></i></a>
          </h3>
            
        </header>

        <div class="grid">
          <div class="content" ng-bind-html="home.parseAsHTML(home.activeProject.overview)">
            <!-- injected Angular content goes here -->
          </div>

          <div class="detail-image">
            <a ng-href="{{home.activeProject.demo_link || home.activeProject.github_link}}" target="_blank">
              <img ng-src="{{home.activeProject.images[0].src}}">
            </a>
          </div>
        </div>

        

        <div class="project-stats">
          <ul class="stat-ul">
            <li>
              <span class="title">Technical Challenges:</span> {{home.activeProject.technical_challenges}}
            </li>
            <li class="half">
              <span class="title">Project Type:</span> {{home.activeProject.project_type}}
            </li><li class="half">
              <span class="title">Project Length:</span> {{home.activeProject.project_length}}
            </li><li class="half" ng-show="home.activeProject.integration">
              <span class="title">Third-Party Integrations:</span> {{home.activeProject.integration}}
            </li><li class="half" ng-show="home.activeProject.stack">
              <span class="title">Stack:</span> {{home.activeProject.stack}}
            </li>
          </ul>
          <ul>
            <li ng-show="home.activeProject.demo_link || home.activeProject.github_link" class="bottom-links">
              <a ng-href="{{home.activeProject.demo_link}}" ng-show="home.activeProject.demo_link">Project Page</a> <a ng-href="{{home.activeProject.github_link}}" ng-show="home.activeProject.github_link">GitHub Repo</a>
            </li>
          </ul>
        </div>
<!-- 
 -->        
      </div>
      
    </div>
    <ul>
      <li class="project-thumb"
      ng-repeat="project in home.projects" 
      ng-mouseenter="home.focusedProject = project" 
      ng-mouseleave="home.focusedProject = null"
      ng-click="home.activeProject = project"
      view-project
      >
        <div class="project-label" ng-show="home.focusedProject === project">{{project.display_name}}</div>
        <div class="backdrop" ng-show="home.focusedProject === project"></div>
        <img ng-src="{{project.thumb_path}}">
      </li>
    </ul> 
  </section>



  <section class="skillset" ng-if="!home.activeProject">
    <div class="width-wrapper">
      <p class="intro">On the front-end to back-end spectrum, I fall somewhere in the middle. I'm passionate about architecting applications from the bottom up, writing well-structured, modular code, handling complex business logic, and finding clever ways to improve performance.</p> 
      <p class="intro">Here are some of the languages, frameworks, tools and methodologies I feel comfortable with. </p>
    </div>
    <div class="lighter">
      <div class="width-wrapper">
        <h4 class="skill-group-heading">Languages</h4>
        <ul class="skill-list">
          <li>Ruby</li><li>Javascript</li><li>Python</li><li>PHP</li><li>SQL</li><li>HTML5</li><li>CSS3</li>
        </ul>

        <h4 class="skill-group-heading">Libraries / Frameworks</h4>
        <ul class="skill-list">
          <li>Ruby on Rails</li><li>Angular.js</li><li>Node.js</li><li>Express</li><li>jQuery</li><li>D3.js</li><li>Sinatra</li><li>Meteor</li>
        </ul>

        <h4 class="skill-group-heading">Development / Testing Tools</h4>
        <ul class="skill-list">
          <li>SASS</li><li>Gulp</li><li>RSpec</li><li>Jasmine</li><li>Mocha / Chai</li><li>Protractor</li><li>Capybara</li>
        </ul>

        <h4 class="skill-group-heading">Other Skills</h4>
        <ul class="skill-list">
          <li>Git</li><li>Agile / Scrum</li><li>Server Administration</li><li>Linux / Mac CLI</li>
        </ul>
   
      </div>
    </div>
  </section>

  <section class="blog" ng-if="!home.activeProject">
    <div class="width-wrapper">
      <p class="intro">I like writing about my coding experiences. Here are some recent ramblings.</p> 

      <div class="card-holder" ng-repeat="post in home.blogPosts">
        <a ng-href="{{post.link}}" target="_blank">
          <div class="card">
            <img ng-src="{{post.img}}">
            <div class="description">
              <h3 class="title">{{post.title}}</h3>
              <p>{{post.desc}}</p>
              <footer>
                <h6 class="date">{{post.date}}</h6>
              </footer>
            </div>
          </div>
        </a>
      </div>
    </div>    
  </section>

  <section class="contact" ng-if="!home.activeProject">
    <div class="width-wrapper">
      <h2 class="title">Let's talk!</h2>
      <p class="intro">I'm friendly and all over the internet. Pick your poison:</p>  
    
    
      <div class="contacts">
        <ul>
          <li>
            <a href="mailto:joshwcomeau@gmail.com"><span class="icon"><i class="fa fa-envelope"></i></span>joshwcomeau@gmail.com</a>
          </li>
          <li>
            <a href="https://github.com/joshwcomeau"><span class="icon"><i class="fa fa-github"></i></span>joshwcomeau</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/profile/view?id=340630788"><span class="icon"><i class="fa fa-linkedin-square"></i></span>Joshua Comeau</a>
          </li>
          <li>
            <a href="https://www.twitter.com/joshuawcomeau"><span class="icon"><i class="fa fa-twitter"></i></span>@joshuawcomeau</a>
          </li>        
          <li>
            <a href="https://www.facebook.com/joshwcomeau"><span class="icon"><i class="fa fa-facebook-square"></i></span>joshwcomeau</a>
          </li>
          <li>
            <a href="https://medium.com/@joshuawcomeau"><span class="icon"><i class="fa fa-medium"></i></span>@joshuawcomeau</a>
          </li>
        </ul> 
      </div>
    </div>
  </section>


  <footer class="main-footer" ng-if="!home.activeProject">
    This portfolio was built by <strong>Joshua Comeau</strong>. Copyright right now. All rights, wrongs, and grey areas reserved. 
  </footer>
</div>