<div class="main-content" ui-view>

  <%= render partial: 'layouts/header' %>

  <%= render partial: 'layouts/nav' %>

  <section class="projects">
    <div class="active-project" ng-show="home.activeProject">
      <div class="active-project-container" ng-show="home.activeProject">
        <div class="close" close-project>
          <%= image_tag "cross_white.png" %>
        </div>
        <header ng-style="{'background': home.activeProject.colour}">
          <h3>
            <span>{{home.activeProject.display_name}}</span>
            <a ng-href="{{home.activeProject.demo_link}}" ng-show="home.activeProject.demo_link"><i class="fa fa-external-link"></i></a> 
            <a ng-href="{{home.activeProject.github_link}}" ng-show="home.activeProject.github_link"><i class="fa fa-github"></i></a>
          </h3>
            
        </header>

        <div class="grid">
          <div class="content c7" ng-bind-html="home.parseAsHTML(home.activeProject.overview)">
            <!-- injected Angular content goes here -->
          </div>

          <div class="detail-image c5">
            <img src="{{home.activeProject.images[0].src}}">
          </div>
        </div>

        

        <div class="project-stats">
          <ul>
            <li>
              <span class="title">Technical Challenges:</span> {{home.activeProject.technical_challenges}}
            </li>
            <li class="half">
              <span class="title">Project Type:</span> {{home.activeProject.project_type}}
            </li><li class="half">
              <span class="title">Project Length:</span> {{home.activeProject.project_length}}
            </li><li class="half">
              <span class="title">Third-Party Integrations:</span> {{home.activeProject.integration}}
            </li><li class="half">
              <span class="title">Stack:</span> {{home.activeProject.stack}}
            </li>
            <li ng-show="home.activeProject.demo_link || home.activeProject.github_link" class="bottom-links">
              <a ng-href="{{home.activeProject.demo_link}}" ng-show="home.activeProject.demo_link">Demo / Project Page</a> <a ng-href="{{home.activeProject.github_link}}" ng-show="home.activeProject.github_link">GitHub Repo</a>
            </li>
          </ul>
        </div>
<!-- 
 -->        
      </div>
      
    </div>
    <ul>
      <li class="project-thumb"
      ng-repeat="project in home.projects" 
      ng-mouseenter="home.focusedProject = project" 
      ng-mouseleave="home.focusedProject = null"
      ng-click="home.activeProject = project"
      view-project
      >
        <div class="project-label" ng-show="home.focusedProject === project">{{project.display_name}}</div>
        <div class="backdrop" ng-show="home.focusedProject === project"></div>
        <img ng-src="{{project.thumb_path}}">
      </li>
    </ul> 
  </section>



  <section class="skillset"></section>

  <section class="about" style="height: 600px; background: #00F;"></section>
</div>