<header>
  <div class="my-face">
    <div class="text-helper"></div>
    <%= image_tag 'josh_face_68rem.jpg' %>
  </div>
  <div class="my-face-spacer"></div>

  <div class="headings">
    <h1>Why hello there!</h1>
    <h3>I'm Josh, and I'm a full-stack web developer &amp; software engineer.</h4>
    <h5>For the past year, I've been captivated by code. It's been one hell of a ride.</h6>
  </div>
</header>

<nav follow-scroll>
  <ul>
    <li class="active">Projects</li><!-- 
 --><li>Skillset</li><!--
 --><li>About</li><!-- 
 --><li>Blog</li><!-- 
 --><li>Contact</li>
  </ul>
</nav>
<div class="nav-spacer"></div>

<section class="projects">
  <ul>
    <li ng-repeat="project in home.projects" ng-mouseenter="home.focusedProject = project" ng-mouseleave="home.focusedProject = null">
      <div class="project-label" ng-show="home.focusedProject === project">{{project}}</div>
      <div class="backdrop" ng-show="home.focusedProject === project"></div>
      <img ng-src="/assets/{{project | lowercase | normalizeName }}_thumb.png">
    </li>
  </ul> 
</section>
