@import 'variables';

//////////////////////////////////// HEADER STYLES
header.blog-header {
  position: relative;
  background: $blue;
  height: 8rem;

  .width-wrapper {
    height: 100%;
  }

  h1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -1.1rem;
    padding: 0 1rem;
    color: $lightblue;
    letter-spacing: -10px;
    font-size: 6rem;
    text-shadow:
      1px 1px 0px mix(black, $lightblue, 15%),
      2px 2px 0px mix(black, $lightblue, 17%),
      3px 3px 0px mix(black, $lightblue, 20%),
      4px 4px 0px mix(black, $lightblue, 22%)
    ;

    .t { letter-spacing: -11px; }
    .h { letter-spacing: -14px; }
    .l { letter-spacing: -14px; }
    .o { letter-spacing: -8px; }
  }

  .icons {
    position: absolute;
    z-index: 0;
    top: 1rem;
    right: 3rem;
    font-size: 1.5rem;

    a {
      position: relative;
      color: #FFF;
      opacity: 0.65;
      padding: 0.5rem;
      animation-duration: 1s !important;  
      animation-name: fadeInDropMod;
      animation-fill-mode: backwards;
      text-shadow: 1px 1px 0px $blue;

      &:hover {
        opacity: 1 !important;
      }

      &.icon1 {
        animation-delay: 0s;
      }
      &.icon2 {
        animation-delay: 0.4s;
      }
      &.icon3 {
        animation-delay: 0.8s;
      }
    }

  }

  .stripe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.5rem;
    background: $lightgreen;
  }

  .text-covering-effect {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 1rem;
    left: 0;
    right: 0;
    bottom: -1rem;
    background: $lightblue;
  }
}
//////////////////////////////////// END HEADER



.blog-wrapper {
  background: $lightblue;
  position: relative;
  height: 100%;
}


  
//////////////////////////////////// INDEX STYLES
.blog-index-wrapper {
  @extend .blog-wrapper;
  // Styles are probably more appropriate on blog-wrapper than here.


  .index {
    padding: 2rem 0;
  }

  .post {
    position: relative;
    max-width: 900px;
    margin: 1rem auto;
    padding: 2px;
    background: #FFF;

    .post-header {
      position: relative;
      height: 20rem;
      background-color: $blue;
      background-size: cover;
      background-position: center center;

      .gradient {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 99%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%,rgba(0,0,0,0.4) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%,rgba(0,0,0,0.4) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
      }

      .title.in-image {
        position: absolute;
        z-index: 3;
        bottom: 0;
        padding: 0.5rem;
        color: #FFF;
      }

    }

    .title {
      font-size: 3.25rem;

      &.not-in-image {
        color: $darkgrey;
      }
    }
  }






  //////////////////////////////////// END INDEX







  //////////////////////////////////// SHOW STYLES

  //////////////////////////////////// END SHOW STYLES
}