@import 'variables';

section.projects {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  ul {
    padding: 0.5rem 0;
  }

  li {
    position: relative;
    width: 33.333%;
    max-width: 500px;
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      vertical-align: middle;
    }

    .project-label {
      position: absolute;
      z-index: 3;
      bottom: 2.7rem;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 2.1rem;
      color: #FFF;
      font-weight: 500;
      letter-spacing: -1px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

      &.ng-hide-remove.ng-hide-remove-active {
        animation-duration: 0.5s !important;  
        animation-name: fadeInUp;
        animation-fill-mode: both;
      }
      &.ng-hide-add.ng-hide-add-active {
        animation-duration: 0.8s !important;  
        animation-name: fadeOutDown;
        animation-fill-mode: both;
      }
    }

    .backdrop {
      position: absolute;
      z-index: 2;
      top: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
      bottom: 0.5rem;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */

      &.ng-hide-remove.ng-hide-remove-active {
        animation-duration: 0.8s !important;  
        animation-name: fadeIn;
        animation-fill-mode: both;
      }
      &.ng-hide-add.ng-hide-add-active {
        animation-duration: 0.8s !important;  
        animation-name: fadeOut;
        animation-fill-mode: both;
      }

    }
  }

  .active-project {
    position: fixed;
    z-index: 9999;
    background: rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .active-project-container {
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      background: $lightgrey;

    }
  }
}
