<header class="main-header">
  <div class="my-face">
    <div class="text-helper"></div>
    <%= image_tag 'josh_face_68rem.jpg' %>
  </div>
  <div class="my-face-spacer"></div>

  <div class="headings">
    <h1>Why hello there!</h1>
    <h3>I'm Josh, and I'm a full-stack web developer &amp; software engineer.</h4>
    <h5>For the past year, I've been captivated by code. It's been one hell of a ride.</h6>
  </div>
</header>